
<nav class="navbar fixed navbar-expand-md custom-navbar navbar-light">
  <img class="navbar-brand" src="../../../assets/xebia-logo.svg" id="logo_custom" width="10%"  alt="logo">
     <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
         <span class="navbar-toggler-icon "></span>
     </button>
       <div class="collapse navbar-collapse " id="collapsibleNavbar">
           <ul class="navbar-nav ml-auto ">
            <li class="nav-item">
              <a class="nav-link" routerLink='/'><b>Home</b></a>
            </li>
             <li class="nav-item">
               <a class="nav-link" routerLink='govermentGuidelines'><b>Goverment Guidelines</b></a>
             </li>
             <li class="nav-item">
               <a class="nav-link" routerLink='data'><b>Covid Cases</b></a>
             </li>
             <li class="nav-item">
               <a class="nav-link" routerLink='countries'><b>Countries</b></a>
             </li>  
           </ul>
       </div>  
</nav>
