
<!-- 
<div class="card" style="width: 18rem;">
  <img src="https://github.com/XebiaUpdates/Xebia-Covid-Website/blob/master/download.png?raw=true" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="https://github.com/XebiaUpdates/Xebia-Covid-Website/blob/master/download.png?raw=true" class="btn btn-primary">Image</a>
  </div>
</div> -->

    <div class="jumbotron">

        <div class="text-center">Developed by:</div>
        <div class="text-center">
          <h3>Abhimanyu Marya</h3>
        </div>


    </div>

  
