<div class="row">
<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-5">Xebia Covid-19 Tracker</h1>
    <hr>
   
    <app-country-dashboard 
    [totalConfirmed]="totalConfirmed"
    [totalDeaths]="totalDeaths"
    [totalRecovered]="totalRecovered"
    [totalActive]="totalActive"
    
    ></app-country-dashboard>
     
</div>
<h5 style="margin-left: 10 cm;">#IndiaFightsCorona    #XebiaFightsCorona</h5>

</div>

  </div>


<div class="row">
  <google-chart [data]="pieChart"></google-chart>
  <div class="col" style="width: 70%">
    <google-chart [data]="columnChart"></google-chart>  
  </div>
</div>




