<div class="jumbotron text-center">
  <h1 class="display-2">COVID GUIDELINES</h1>
  <p class="lead"> Stay aware of the latest information on the COVID-19 outbreak,
    available on the national,state and local public health authority. Many
    countries around the world have seen cases of COVID-19 and several
    have seen outbreaks. Authorities in China and some other countries
    have succeeded in slowing or stopping their outbreaks. However, the
    situation is unpredictable so check regularly for the latest news. </p>
  <p><a class="btn btn-lg btn-success" href="https://www.mohfw.gov.in/" role="button">Ministry of Health and Family
      Welfare Latest Updates</a></p>
</div>

<div class="container-fluid p-4">


  <h3>
    <div class="card-title"> Myth Busters</div>
  </h3>
  <div class="row ">

    <div class="col-md-3 card md-1 pl-1" style="width: 23rem;">
      <img
        src="https://www.who.int/images/default-source/health-topics/coronavirus/myth-busters/mythbuster-masks.png?sfvrsn=7324738d_4"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Oxygen deficiency due to MASKS !!</h5>
        <p class="card-text text-justify">The prolonged use of medical masks can be uncomfortable. However, it does not
          lead to CO2 intoxication nor oxygen deficiency. While wearing a medical mask, make sure it fits properly and
          that it is tight enough to allow you to breathe normally.</p>
        <a href="https://www.who.int/images/default-source/health-topics/coronavirus/myth-busters/mythbuster-masks.png?sfvrsn=7324738d_4"
          class="btn btn-primary">Full Image</a>
      </div>
    </div>

    <div class="col-md-3 card md-1 pl-1" style="width: 23rem;">
      <img
        src="https://www.who.int/images/default-source/health-topics/coronavirus/myth-busters/mythbusters---shoes.tmb-1920v.png?sfvrsn=cc08f8dd_1"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Shoes spread the COVID-19 virus?</h5>
        <p class="card-text text-justify">The likelihood of COVID-19 being spread on shoes and infecting individuals is
          very low. As a precautionary measure, particularly in homes where infants and small children play on floors,
          consider leaving your shoes at the entrance of your home. </p>
        <a href="https://www.who.int/images/default-source/health-topics/coronavirus/myth-busters/mythbusters---shoes.tmb-1920v.png?sfvrsn=cc08f8dd_1"
          class="btn btn-primary">Full Image</a>
      </div>
    </div>

    <div class="col-md-3 card md-1 pl-1" style="width: 23rem;">
      <img
        src="https://www.who.int/images/default-source/health-topics/coronavirus/myth-busters/mythbuster---masks-and-exercise.tmb-1920v.png?sfvrsn=2d51cd94_2"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Can people wear masks while exercising ?</h5>
        <p class="card-text text-justify">The important preventive measure during exercise is to maintain physical
          distance of at least one meter from others.People should NOT wear masks when exercising as masks may reduce
          the ability to breathe comfortably.

        </p>
        <a href="https://www.who.int/images/default-source/health-topics/coronavirus/myth-busters/mythbuster---masks-and-exercise.tmb-1920v.png?sfvrsn=2d51cd94_2"
          class="btn btn-primary">Full Image</a>
      </div>
    </div>

    <div class=" col-md-3 card md-1 pl-1" style="width: 23rem;">
      <img
        src="https://www.who.int/images/default-source/health-topics/coronavirus/eng-mythbusting-ncov-(75).png?sfvrsn=a1aa01b1_2"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Thermal scanners CANNOT detect COVID-19?</h5>
        <p class="card-text text-justify">Thermal scanners are effective in detecting people who have a fever (i.e. have
          a higher than normal body temperature). They cannot detect people who are infected with COVID-19. There are
          many causes of fever.</p>
        <a href="https://www.who.int/images/default-source/health-topics/coronavirus/eng-mythbusting-ncov-(75).png?sfvrsn=a1aa01b1_2"
          class="btn btn-primary">Full Image</a>
      </div>
    </div>

  </div>








  <div class="row mt-4 text-justify ">

    <div class="col-md-4 ">
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="hello">Getting your workplace ready</h4>
          <div class="scrollable">
            <p>Make sure your workplaces are clean and hygienic – Surfaces (e.g. desks and tables) and objects (e.g.
              telephones, keyboards) need to be wiped
              with disinfectant regularly– Why? Because contamination on surfaces touched by employees and customers is
              one of the main ways that COVID-19 spreads </p>
            <p>Advise employees and contractors to consult national travel advice before going on business trips</p>
            <p>Brief your employees, contractors, and customers that if COVID-19 starts spreading in your
              community anyone with even a mild cough or low-grade fever (37.3 C or more) needs to stay at
              home.</p>
            <p>Retain the names and contact details of all participants of a Meeting for at least one month. This will
              help public
              health authorities trace people who may have been exposed to COVID-19 if one or more
              participants become ill shortly after the event.</p>
          </div>
          <p><a class="btn btn-primary"
              href="https://www.who.int/docs/default-source/coronaviruse/advice-for-workplace-clean-19-03-2020.pdf"
              role="button">Complete Article &raquo;</a></p>

        </div>
      </div>
    </div>


    <div class="col-md-4 ">
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="hello">Protecting yourself and others</h4>
          <div class="scrollable">
            <p>Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and
              water. Why? Washing your hands with soap and water or using alcohol-based hand rub kills viruses that may
              be on your hands.</p>
            <p>Avoid touching eyes, nose and mouth. Why? Hands touch many surfaces and can pick up viruses. Once
              contaminated, hands can transfer the virus to your eyes, nose or mouth. From there, the virus can enter
              your body and infect you.</p>
            <p>Make sure you, and the people around you, follow good respiratory hygiene. This means covering your mouth
              and nose with your bent elbow or tissue when you cough or sneeze. Then dispose of the used tissue
              immediately and wash your hands. Why? Droplets spread virus. By following good respiratory hygiene, you
              protect the people around you from viruses such as cold, flu and COVID-19.</p>
          </div>
          <p><a class="btn btn-primary"
              href="https://www.who.int/images/default-source/health-topics/coronavirus/myth-busters/web-mythbusters/mb-breathing-exercice.jpg?sfvrsn=db06f4a9_2"
              role="button">View details &raquo;</a></p>

        </div>
      </div>
    </div>

    <div class=" col-md-3 card" style="width: 24rem;">
      <img src="https://www.who.int/images/default-source/infographics/covid-and-vaw/vaw-covid-1.jpg?sfvrsn=c83b4397_4"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Safety Plan</h5>
        <p class="card-text">Several countries affected by COVID-19, have seen increases in levels of violence occurring
          in the home, including violence against children, intimate partner violence and violence against older people.
        </p>
        <p></p>

      </div>

    </div>
  </div>


  <div class="row mt-4 text-justify ">
    <div class="col-md-4 ">
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="hello">Parenting in the time of COVID-19</h4>
          <div class="scrollable">
            <p>To help parents interact constructively with their children during this time of confinement, these six
              one-page tips for parents cover planning one-on-one time, staying positive, creating a daily routine,
              avoiding bad behaviour, managing stress, and talking about COVID-19. Use them to your and your kids’
              advantage, and have fun in doing so.</p>
          </div>
          <p></p>
          <p><a class="btn btn-primary"
              href="https://www.who.int/docs/default-source/coronaviruse/healthy-parenting/english-tip-02-covid-19-parenting-positive.pdf?sfvrsn=bd31c69a_1&download=true"
              role="button">View details </a></p>

        </div>
      </div>
    </div>


    <div class="col-md-4 ">
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="hello">COVID-19 Actual Symptoms</h4>
          <div class="scrollable">
            <p>The most common symptoms of COVID-19 are dry cough, tiredness and fever. Some people may develop more
              severe forms of the disease, such as pneumonia. The best way to confirm if you have the virus producing
              COVID-19 disease is with a laboratory test. You cannot confirm it with this breathing exercise, which can
              even be dangerous. </p>
            <p><a class="btn btn-primary"
                href="https://www.who.int/images/default-source/health-topics/coronavirus/myth-busters/web-mythbusters/mb-breathing-exercice.jpg?sfvrsn=db06f4a9_2"
                role="button">View details </a></p>

          </div>

        </div>
      </div>


    </div>

    <div class="col-md-3 card" style="width: 24rem;">
      <img
        src="https://www.who.int/images/default-source/health-topics/coronavirus/masks-infographic---final-(web---rgb).png?sfvrsn=c67232f0_15"
        class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Correct Way To Wear a Mask</h5>
        <p class="card-text">It is intended for individuals in the community, public health and infection prevention and
          health care workers (HCWs), and community health workers.

        </p>
      </div>
    </div>


  </div>