.scrollable{
    
    overflow-y: auto;
    max-height: 270px;
    
  }

  .card{
    width: 96%;
    height: 370px;
    margin: 30px auto;


  }

  .jumbotron {
    
    height: 570px;
    background-image: url("../../../assets/bb.jpg");
    background-size: cover;
}

p {
  font-size:18px;
}

.lead {
  font-size:20px;
}

.alert{
  font-size:20px;
}

.container{
  text-align: center;
}

.hello{
  font-size: 2em;
	text-transform: capitalize;
	letter-spacing: 1px;
	margin-bottom: 1em;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow:  0px 0px 25px -22px black;
  transition: 0.3s;
  
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgb(161, 157, 151);
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.Aligner-item {
  max-width: 100%;
}