<main role="main">
    <section class="jumbotron text-center">
      <div class="Aligner">
      <div class="Aligner-item">
        <h1 class="display-2">{{textHeadlineToBeDisplayed}}</h1>
        <h5 class="lead text-muted">{{textHeadlineSummaryToBeDisplayed}}</h5>
      </div>
    
    </div>
    </section>

    <div class="album py-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4 ">
            <div class="card mb-4" >
              <div class="card-body"> <h4 class="hello">{{textDataToBeDisplayedHeadline}}</h4>
                <!-- <div class="scrollable"> -->
                <p class="card-text" style="font-size: 15px; margin-right: 2px;" *ngFor='let Traveldata of textDataToBeDisplayedTravel'> 
                  <li class="list-group-item d-inline-block">{{Traveldata}}</li></p>
                  <!-- </div> -->
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 ">
              <div class="card-body"> <h4 class="hello">{{textDataToBeDisplayedTravelHeadline}}</h4>
                <p class="card-text" style="font-size: 15px; margin-right: 2px;" *ngFor= 'let combatdata of textDataToBeDisplayedCombat'> 
                  <li class="list-group-item d-inline-block">{{combatdata}}</li></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 ">
              <div class="card-body"> <h4 class="hello">{{textDataToBeDisplayedSocialHeadline}}</h4>
                  <div  style="margin-right: 2px;">
                    <img src="https://github.com/XebiaUpdates/Xebia-Covid-Website/blob/master/image13.png?raw=true" class="card-img-top" alt="...">
                <p class="card-text" style="font-size: 15px; " *ngFor= 'let socialdata of textDataToBeDisplayedSocial'>
                  <li class="list-group-item d-inline-block">{{socialdata}}</li></p>
                  <!-- <a href="https://github.com/XebiaUpdates/Xebia-Covid-Website/blob/master/download.png?raw=true" class="btn btn-primary">View Image</a> -->

                  </div>
                </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 ">
              <div class="card-body"> <h4 class="hello">{{textDataToBeDisplayed21Headline}}</h4>
                <p class="card-text" style="font-size: 15px; margin-right: 2px;" *ngFor= 'let socialdata of textDataToBeDisplayed21'>
                  <li class="list-group-item d-inline-block">{{socialdata}}</li></p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4  ">
              <div class="card-body">  <h4 class="hello">{{textDataToBeDisplayed22Headline}}</h4>
                <p class="card-text" style="font-size: 15px; margin-right: 2px;" *ngFor= 'let socialdata of textDataToBeDisplayed22'>
                  <li class="list-group-item d-inline-block">{{socialdata}}</li></p>  
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 ">
              <div class="card-body"> <h4 class="hello">{{textDataToBeDisplayed23Headline}}</h4>
                  <div  style="margin-right: 2px;">
                  <img src="https://github.com/XebiaUpdates/Xebia-Covid-Website/blob/master/image23.png?raw=true" class="card-img-top" alt="...">
                <p class="card-text" style="font-size: 15px;" *ngFor= 'let socialdata of textDataToBeDisplayed23'>
                  <li class="list-group-item d-inline-block">{{socialdata}}</li></p> 
                </div>  
              </div>
            </div>
          </div>


          <div class="col-md-4">
            <div class="card mb-4 ">
              <div class="card-body"> <h4 class="hello">{{textDataToBeDisplayed31Headline}}</h4>
                <p class="card-text" style="font-size: 15px; margin-right: 2px;" *ngFor= 'let socialdata of textDataToBeDisplayed31'>
                  <li class="list-group-item d-inline-block">{{socialdata}}</li></p>        
                  </div>
            </div>
          </div>


          <div class="col-md-4">
            <div class="card mb-4 ">
              <div class="card-body"> <h4 class="hello">{{textDataToBeDisplayed32Headline}}</h4>
                <p class="card-text" style="font-size: 15px; margin-right: 2px;" *ngFor= 'let socialdata of textDataToBeDisplayed32'>
                  <li class="list-group-item d-inline-block">{{socialdata}}</li></p>    
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 ">
              <div class="card-body">  <h4 class="hello">{{textDataToBeDisplayed33Headline}}</h4>
                  <div  style="margin-right: 2px;">
                  <img src="https://github.com/XebiaUpdates/Xebia-Covid-Website/blob/master/image33.png?raw=true" class="card-img-top" alt="...">
                <p class="card-text" style="font-size: 15px;" *ngFor= 'let socialdata of textDataToBeDisplayed33'>
                  <li class="list-group-item d-inline-block">{{socialdata}}</li></p> 
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>