.scrollable{
    overflow-y: auto;
    max-height: 270px;
  }

  .card{
    width: 96%;
    height: 370px;
    margin: 30px auto;

  }

  .jumbotron {
    
    height: 400px;
}

p {
  font-size:18px;
}

.lead {
  font-size:20px;
}

.alert{
  font-size:20px;
}